html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Manrope", sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10rem;
}
.navigation .logo {
  position: absolute;
  top: 3.45rem;
  left: 11rem;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin: 0;
  color: #fff;
}
.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}
.navigation__listItem {
  margin: 0 2.2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.navigation__listItem a {
  text-decoration: none;
  color: #ddd;
}
.navigation__listItem a:hover {
  color: #fff;
}

.header {
  background: url("../../img/city.mp4"), linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8));
  background-position: center;
  background-size: cover;
  height: 95vh;
  position: relative;
  overflow: hidden;
}
.header__heading {
  text-align: center;
  margin-top: 17rem;
}
.header__heading h1 {
  font-size: 6rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.5rem;
  margin: 0;
}
.header__heading p {
  color: #ddd;
  width: 66rem;
  font-size: 1.75rem;
  line-height: 3.5rem;
  margin: 1rem auto 4rem;
}
.header__heading button {
  background: inherit;
  border: 0.2rem solid #fff;
  border-radius: 0.3rem;
  color: #fff;
  height: 5.2rem;
  width: 17rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 0;
  transition: 0.3s;
}
.header__heading button:hover {
  background-color: #fff;
  color: inherit;
  cursor: pointer;
}
.header__video {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 95vh;
}

.mainAbout {
  max-width: 115rem;
  min-height: 40rem;
  margin: 17.5rem auto 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid lightgray 0.1rem;
  padding-bottom: 5rem;
  position: relative;
}
.mainAbout__info {
  flex: 2;
}
.mainAbout__info h3 {
  color: #1870CA;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.mainAbout__info h1 {
  margin: 0 0 2rem;
  font-size: 3.1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.mainAbout__info p {
  color: #888;
  width: 55rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.9rem;
}
.mainAbout__info .about-us {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.3rem;
}
.mainAbout__images {
  position: relative;
  flex: 1.5;
}
.mainAbout__images img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.mainAbout__image1 {
  width: 25rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 10rem;
  right: 0;
  z-index: 11;
}
.mainAbout__image2 {
  width: 25rem;
  left: 4rem;
  border-radius: 0.5rem;
  position: absolute;
}
.mainAbout .arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1870CA;
  position: absolute;
  top: -20.2rem;
  left: 48.5%;
}
.mainAbout .arrow img {
  height: 1.6rem;
}
.mainAbout__list {
  list-style: none;
  padding: 0;
  margin: 0 auto 4.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95rem;
}
.mainAbout__listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainAbout__listItem span {
  font-size: 3.5rem;
  color: #1870CA;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.mainAbout__listItem img {
  width: 4.4rem;
  margin-right: 1.3rem;
}
.mainAbout__listItem h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #6c757d;
}

.mainServices {
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
.mainServices h3 {
  color: #1870CA;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 11rem 0 0.5rem;
}
.mainServices h1 {
  margin: 0 0 5rem;
  font-weight: 300;
  font-size: 3.3rem;
  letter-spacing: 0.2rem;
}
.mainServices__list {
  width: 110rem;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainServices__listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  text-align: center;
  background-color: #fff;
  margin-bottom: 3.3rem;
  transition: 0.2s;
}
.mainServices__listItem .wrapper {
  background-color: #1870CA;
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.mainServices__listItem .one {
  background-image: url("../../img/ruler-white.svg");
}
.mainServices__listItem .two {
  background-image: url("../../img/lightbulb-white.svg");
}
.mainServices__listItem .three {
  background-image: url("../../img/laptop-white.svg");
}
.mainServices__listItem .four {
  background-image: url("../../img/paper-white.svg");
}
.mainServices__listItem .five {
  background-image: url("../../img/up-white.svg");
}
.mainServices__listItem .six {
  background-image: url("../../img/bookmark-white.svg");
}
.mainServices__listItem .border {
  border: 0.1rem solid #e9e9e9;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  margin: 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainServices__listItem img {
  height: 3rem;
}
.mainServices__listItem h3 {
  margin: 1.2rem 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
}
.mainServices__listItem p {
  width: 90%;
  font-size: 1.5rem;
  color: #444;
  line-height: 2.6rem;
  margin: 0 0 4rem;
}
.mainServices__listItem:hover {
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px #e3e3e3;
  transform: translateY(-1.5rem);
}
.mainServices__listItem:hover .wrapper {
  background-color: white;
  border: 0.1rem solid #1870CA;
}
.mainServices__listItem:hover .one {
  background-image: url("../../img/ruler-blue.svg");
}
.mainServices__listItem:hover .two {
  background-image: url("../../img/lightbulb-blue.svg");
}
.mainServices__listItem:hover .three {
  background-image: url("../../img/laptop-blue.svg");
}
.mainServices__listItem:hover .four {
  background-image: url("../../img/paper-blue.svg");
}
.mainServices__listItem:hover .five {
  background-image: url("../../img/up-blue.svg");
}
.mainServices__listItem:hover .six {
  background-image: url("../../img/bookmark-blue.svg");
}
.mainServices .servicesLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 1rem 0 8.8rem;
  background-color: #1870CA;
  color: white;
  height: 5rem;
  width: 16rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.2s;
}
.mainServices .servicesLink:hover {
  cursor: pointer;
  background-color: #13579c;
}

.mainPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainPortfolio h1 {
  margin: 0 0 2rem;
  font-weight: 300;
  font-size: 3.3rem;
  letter-spacing: 0.2rem;
}
.mainPortfolio h3 {
  color: #1870CA;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 11rem 0 0.5rem;
}
.mainPortfolio__navList {
  list-style: none;
  padding: 0;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainPortfolio__navListItem {
  margin: 0 0.75rem;
  background-color: #f0f0f0;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  transition: 0.2s;
}
.mainPortfolio__navListItem:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1870CA;
}
.mainPortfolio .active {
  color: #fff;
  background-color: #1870CA;
}

/*# sourceMappingURL=main.css.map */
