.mainPortfolio {
    display: flex;
    flex-direction: column;
    align-items: center; 

    h1 {
        margin: 0 0 2rem;
        font-weight: 300;
        font-size: 3.3rem;
        letter-spacing: .2rem;
    }

    h3 {
        color: #1870CA;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 11rem 0 .5rem;
    }

    &__navList {
        list-style: none;
        padding: 0;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__navListItem {
        margin: 0 .75rem;
        background-color: #f0f0f0;
        padding: 1rem 2rem;
        font-size: 1.3rem;
        border-radius: .5rem;
        letter-spacing: .1rem;
        transition: .2s;
    }

    &__navListItem:hover {
        cursor: pointer;
        color: #fff;
        background-color: #1870CA;
    }

    .active {
        color: #fff;
        background-color: #1870CA;
        box-shadow: 0px 0px 14px 1px rgba(196,192,196,1);
    }

    &__images {
        width: 110rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 10rem;
        margin-left: 2.5rem;
    }

    &__image {
        width: 30.5%;
        height: 33.3rem;
        margin: 0 2.5rem 2rem 0;
        transition: all .3s;
        display: block;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            transition: all .5s;
        }
    }

    &__image:hover {
        cursor: pointer;

        img {
            transform: scale(1.1);
        }
    }
}