.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;

    h1 {
        margin: 0 0 2rem;
        font-weight: 300;
        font-size: 3.3rem;
        letter-spacing: .2rem;
    }

    h3 {
        color: #1870CA;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 9rem 0 .5rem;
    }

    &__list {
        display: flex;
        width: 110rem;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        list-style: none;
        margin-top: 4.4rem;
    }

    &__listItem {
        width: 48%;
        background-color: #f7f7f7;
        position: relative;

        .quoteIcon {
            width: 4rem;
            position: absolute;
            top: -2rem;
            left: 2.5rem;
        }

        p {
            font-size: 1.8rem;
            color: #777;
            width: 90%;
            margin-left: 2.5rem;
            margin-top: 3rem;
            line-height: 3rem;
            font-weight: 500;
        }
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 2rem 0 3rem;

        img {
            height: 4.4rem;
            width: 4.4rem;
            border-radius: 50%;
            margin-left: 2rem;
        }

        span {
            margin: 0 2rem 0;
        }

        h4 {
            margin: 0 0 .3rem;
            font-size: 1.5rem;
        }

        h5 {
            margin: 0;
            font-size: 1.2rem;
            color: #999;
            font-weight: 300;
        }
    }
}