.header {
    background: url("../../img/city.mp4"),
    linear-gradient(rgba(50,50,50,.8), rgba(50,50,50,.8));
    background-position: center;
    background-size: cover;
    height: 95vh;
    position: relative;

    &__heading {
        text-align: center;
        margin-top: 13.3rem;

        h1 {
            font-size: 6rem;
            font-weight: 300;
            color: #fff;
            letter-spacing: .5rem;
            margin: 0;
        }

        p {
            color: #ddd;
            width: 66rem;
            font-size: 1.75rem;
            line-height: 3.5rem;
            margin: 1rem auto 4rem;
        }

        button {
            background: inherit;
            border: .2rem solid #fff;
            border-radius: .3rem;
            color: #fff;
            height: 5.2rem;
            width: 17rem;
            font-size: 1.5rem;
            letter-spacing: .2rem;
            margin: 0;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 95vh;
    }

    .arrow {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1870CA;
        position: absolute;
        top: 81.5rem;
        left: 48.5%;

        img {
            height: 1.6rem;
        }
    }
}